.sidenav {
    background-color: #00c4cc;
}

.sidenav a {
    color: white;
    background-color: #00c4cc;
}

.sidenav i {
    padding-right: 5px;
    background-color: #00c4cc;
}

.content {
    padding: 10px;
    background-color: #FFF;
}