<h1 class="teste">
    Veja nossos produtos, os paezinhos mais deliciosos da Baixada!
</h1>
<br>
<body class="body">

    <div class="row">

        <div class="coluna">
          <img src="assets/paoitaliano.png" alt="paoitaliano" style="width:82%">
          <br>
          <span>Pão Italiano</span>
        </div>
        <br>

        <div class="coluna">
          <img src="assets/baguete2.png" alt="baguete" style="width:80%">
          <br>
          <span>Baguete</span>
        </div>

        <div class="coluna">
          <img src="assets/croissant.png" alt="croissant" style="width:86%">
          <br>
          <br>
          <span>Croissant</span>
        </div>
    </div>
    <br>
    <br>

    <!--<img src="assets/paofrances.png" alt="paofrances">
    <span class="paonome">Pão Francês</span>
    <br>

    <img src="assets/baguete2.png" alt="baguete">
    <span class="baguetenome">Baguete recheada com frango</span>-->

    <span>Escolha quantos pães de determinado tipo você deseja!</span>
    <br>
    <br>
    <form>
    <div id="a">
      Quantidade de pão:
      <input type="number" name="qtd">
      <br>
      <span>Tipo de Pão:  </span><select name="Tipopão">Tipo pão:
        <option value="Italiano">Pão Italiano</option>
        <option value="Baguete">Baguete</option>
        <option value="Croissant">Croissant</option>
        <option value="Frances">Pão Francês Tradicional</option>
    </select>
    <br><br>
      <input class="button1" type="submit" name="Enviar">
    </div>
</form>
</body>
