<h1 class="lojinhas">
    Conheça as franquias da nossa padaria espalhadas pela Baixada Santista!
</h1>
<br>
<br>

<div class="row">

    <div class="coluna">
      <span>Franquia de Santos</span>
      <img src="assets/padaria5.jpg" alt="padariaSantos" style="width:74%">
    </div>

    <div class="coluna">
      <span>Fraquia de São Vicente</span>
      <img src="assets/padaria2.jpg" alt="padariaSV" style="width:80%">
    </div>

    <div class="coluna">
      <span>Franquia de Praia Grande</span>
      <img src="assets/padaria3.jpg" alt="padariaPG" style="width:75%">
    </div>
</div>
